RewriteEngine On
Options -Indexes
ErrorDocument 403 http://dev.nuuke.com:60/404
ErrorDocument 404 http://dev.nuuke.com:60/404

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
